.title-clients {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.clients {
  display: flex;
  flex-wrap: wrap;

  &__logo {
    width: 106px;
    height: 60px;
    fill: var(--svg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid var(--svg-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  &__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .title-clients {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .clients__item {
    @media screen and (max-width: 767px) {
      max-width: calc((100% - 30px) / 2);
      width: 100%;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      width: 100%;
      margin-right: 30px;
      &:nth-child(3n + 3) {
        margin-right: 0px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .title-clients {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .clients:not(:last-child) {
    margin-right: 30px;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
  }
  .clients__item {
    margin-bottom: 0px;
  }
}
