.footer-section {
  max-width: 1600px;
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo__text--footer {
  color: var(--bg-color);
}
.address {
  &__text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
.address {
  &__item:last-child {
    margin-bottom: 0px;
  }
  &__link {
    font-style: normal;
    font-weight: normal;
    line-height: 1.7;
    color: var(--text-secondary-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--bg-color);
  }
}

.footer-social-title {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
  color: var(--bg-color);
}
.social-list__link--bgr {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--bg-color);
}
@media screen and (max-width: 767px) {
  .footer-section {
    text-align: center;
    justify-content: center;
  }
  .address {
    &__item {
      margin-bottom: 8px;
    }
  }
}
.social-list--mrgn {
  margin-bottom: 60px;
}
.submit {
  &__input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--footer-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-indent: 16px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--bg-color);
    margin-bottom: 20px;
    max-width: 100%;
  }
  &__input:focus {
    outline: 1px solid var(--accent-color);
  }
  &__button {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--bg-color);
    padding-left: 29px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--accent-color);
    font-size: 16px;
  }
  &__icon {
    fill: var(--bg-color);
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    &__item {
      margin-bottom: 8px;
    }
    &__item:last-child {
      margin-bottom: 0px;
    }
  }
  .logo-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-social,
  .form-email {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    margin: 0px auto;
  }
  .footer {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-address {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    margin-left: 70px;
  }
  .form-email {
    margin-left: auto;
  }
  .submit {
    display: flex;
    align-items: baseline;

    &__input {
      width: 358px;
      margin-right: 12px;
    }
  }
}
