.hero-section {
  max-width: 1600px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  padding: 118px 0 118px 0;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0 200px 0;
  }
  margin: 0px auto;
}
.hero-button {
  background: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  width: 200px;
  padding: 10px 32px;
  border: var(--accent-color);
  letter-spacing: 0.06em;
  color: var(--bg-color);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}
.hero-button:hover {
  background: var(--accent-color);
  cursor: pointer;
}
.section-text {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
  font-size: 26px;
  line-height: 1.6;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/imghero-m@1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/imghero-t@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/imghero-t@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/imghero-d@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/imghero-d@2x.jpg);
      }
    }
  }
}
