.projects-title {
  display: none;
}
.buttons {
  // display: flex;
  // flex-wrap: wrap;
  width: 362px;
  height: 91px;
  margin: 0px 103px 40px 15px;
}
.projects-button {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  &__items {
    margin-right: 8px;
    margin-bottom: 15px;
    &:nth-child(3) {
      margin-right: 0px;
    }
  }
  &__btn {
    padding: 6px 22px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--our-team-section-color);
    border-radius: 4px;
    color: var(--text-primery);
    cursor: pointer;
    border: transparent;
  }
}

.projects-button button:hover,
.projects-button button:focus {
  background: var(--accent-color);
  color: var(--bg-color);
}
button {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// -----Карточки-------

.projects {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 30px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__overlay {
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  &__card-contents {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--project-description-color);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primery);
    margin-bottom: 4px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-secondary);
  }
  li:hover,
  li:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  }
  li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.projects__description p {
  display: inline-block;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  overflow: visible;
  color: var(--bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__link:hover .projects__description,
.projects__link:focus .projects__description {
  transform: translateY(0);
}
// .projects-title {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   overflow: hidden;
//   border: 0;
//   clip: rect(0 0 0 0);
// }
// .projects-button {
//   display: flex;
//   justify-content: center;

//   &__items {
//     margin-right: 8px;
//   }
//   &__btn {
//     padding: 6px 22px;
//     font-family: Roboto, sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.6;
//     text-align: center;
//     letter-spacing: 0.03em;
//     background: var(--our-team-section-color);
//     border-radius: 4px;
//     color: var(--text-primery);
//     cursor: pointer;
//     border: transparent;
//   }
// }

// .projects-button button:hover,
// .projects-button button:focus {
//   background: var(--accent-color);
//   color: var(--bg-color);
// }
// button {
//   transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .projects {
//   display: flex;
//   flex-wrap: wrap;

//   &__item {
//     margin-right: 30px;
//     margin-bottom: 30px;
//   }
//   &__item:nth-child(-n + 3) {
//     margin-top: 50px;
//   }
//   &__item:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }
//   &__item:nth-child(3n) {
//     margin-right: 0;
//   }
//   &__overlay {
//     position: relative;
//     overflow: hidden;
//   }
//   &__card-contents {
//     padding: 20px 24px;
//     border-right: 1px solid var(--border-color);
//     border-left: 1px solid var(--border-color);
//     border-bottom: 1px solid var(--border-color);
//   }
//   &__description {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: var(--project-description-color);
//     transform: translateY(101%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     opacity: 1;
//   }
//   &__title {
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: var(--text-primery);
//     margin-bottom: 4px;
//   }
//   p {
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 1.9;
//     color: var(--text-secondary);
//   }
//   li:hover,
//   li:focus {
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
//   }
//   li {
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .projects__description p {
//   display: inline-block;
//   padding: 63px 24px;
//   font-size: 18px;
//   line-height: 1.6;
//   overflow: visible;
//   color: var(--bg-color);
//   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }
// .projects__link:hover .projects__description,
// .projects__link:focus .projects__description {
//   transform: translateY(0);
// }
