:root {
  --bg-hero-color: #2f303a;
  --accent-color: #2196f3;

  --bg-color: #ffffff;

  --logo-color: #000000;

  --text-primery: #212121;
  --text-secondary: #757575;
  --text-secondary-light: rgba(255, 255, 255, 0.6);

  --our-team-section-color: #f5f4fa;
  --footer-color: #2f303a;
  --navbar-border: #ececec;
  --border-color: #eeeeee;
  --svg-color: #afb1b8;
  --project-description-color: rgba(33, 150, 243, 0.9);
}
